.profiles {
  display: flex;
  align-items: stretch;
  align-content: stretch;
}

.profile {
  border: 1px solid #666;
  padding: 1em;
  text-align: center;
  margin: 0 0.5em;
}

.profile h4 {
  text-shadow: 0.1em 0.1em #ccc;
}

.profile img {
  width: 200px;
}

.alert {
  padding: 0.5em;
  background: tomato;
  color: white;
  border-radius: 0.5em;
  border: 2px solid red;
}

ul {
  text-align: left;
}